.logo2 {
  z-index: 1;
  width: 25rem;
  margin: 0 auto;
  padding-top: 2rem;
}
.logo3 {
  z-index: 1;
  width: 12rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.banner-container {
  background-image: url(../../images/gamerbillede2.webp);
  background-position: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner div h2 {
  color: $clr-white;
  font-size: $font-l;
  font-style: italic;
  text-align: center;
  padding-top: 10rem;
}

/* knapper */
.medlembutton {
  padding: 1.5rem 7rem;
  text-align: center;
  border: none;
  font-size: $font-sm;
  font-weight: 700;
  border-radius: 10px;
  background-color: $clr-dark-blue;
  color: $clr-white;
  font-family: Ironstrike, sans-serif;
  white-space: nowrap;
  margin: 15rem auto 5rem auto;
  display: block;
}

.medlembutton:hover {
  background-color: white;
  color: $clr-dark-blue;
  cursor: pointer;
  transition: $transition-200ms;
}

.instructorbutton {
  padding: 1.5rem 5rem;
  text-align: center;
  border: none;
  font-size: $font-sm;
  font-weight: 700;
  border-radius: 10px;
  background-color: white;
  color: $clr-dark-blue;
  font-family: Ironstrike, sans-serif;
  white-space: nowrap;
  margin: 0 auto;
  display: block;
}

.instructorbutton:hover {
  background-color: $clr-dark-blue;
  color: white;
  transition: $transition-200ms;
  cursor: pointer;
}
/* knapper slut */

@media screen and (min-width: 768px) {
  .logo2 {
    width: 30rem;
    padding-top: 5rem;
  }
  .banner div h2 {
    color: $clr-white;
    font-size: $font-xl;
    font-style: italic;
    text-align: center;
    padding-top: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner-container {
    h2 {
      padding-top: 15rem !important;
      font-size: $font-xl !important;
    }
    div {
      display: flex;
      margin: 0 auto;
      grid-gap: 8rem;
    }
  }
  .medlembutton {
    padding: 2rem 7rem !important;
    font-size: 2.8rem;
    margin-right: 0;
    margin-top: 10rem;
  }
  .instructorbutton {
    padding: 1.5rem 5rem !important;
    margin: 10rem auto 5rem 0;
    font-size: 2.8rem;
  }
}
