@viewport {
  orientation: portrait;
}

body {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: Inter, sans-serif;
  letter-spacing: 1.2px;
}

// Typography
strong {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
  transition: $transition-200ms;
}

p {
  font-size: $font-xs-fallback;
  font-size: $font-xs;
  line-height: 1.5;

  @include breakpoint-up(computer) {
    font-size: $font-sm-fallback;
    font-size: $font-sm;
  }
}

h1 {
  font-size: $font-l-fallback;
  font-size: $font-l;
  font-weight: 700;
  margin-bottom: 5rem;
  color: $clr-dark-blue;
  @include breakpoint-up(computer) {
    font-size: $font-xl-fallback;
    font-size: $font-xl;
  }
}

h2 {
  font-weight: 700;
  font-size: $font-med-fallback;
  font-size: $font-med;
  color: $clr-dark-blue;
  font-family: Ironstrike, sans-serif;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 2rem;

  @include breakpoint-up(computer) {
    margin-bottom: 3rem;
    font-size: $font-med-fallback;
    font-size: $font-med;
  }
}

//Scrollbar
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Spacing
.container {
  max-width: 1400px;
  margin: 0 auto;
  &--pall {
    padding-top: 3rem;
    padding-right: 2.4rem;
    padding-bottom: 3rem;
    padding-left: 2.4rem;

    @include breakpoint-up(computer) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  &--py {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint-up(computer) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--px {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  &--section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @include breakpoint-up(computer) {
      padding-top: 14rem;
      padding-bottom: 14rem;
    }
  }
}

// Flexbox
.flex {
  display: flex;

  &-dr-cl {
    flex-direction: column;
  }
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-st {
    align-items: flex-start;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(ipad) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(computer) {
    display: none;
  }
}
