// Font
$font-xs-fallback: 14px;
$font-xs: 1.4rem;
$font-sm-fallback: 18px;
$font-sm: 1.8rem;
$font-med-fallback: 26px;
$font-med: 2.6rem;
$font-l-fallback: 30px;
$font-l: 3rem;
$font-xl-fallback: 42px;
$font-xl: 4.2rem;

// Colors
$clr-dark-blue: #161b91;
$clr-light-purple: #535369;
$clr-off-black: #10100f;
$clr-grey: #333333;

$clr-white: #fff;

$clr-text: #10100f;

// Transitioner

$transition-200ms: all 0.2s ease-in-out;
